[defaults]
inventory = inventory/hosts.yml
roles_path = roles
host_key_checking = True
retry_files_enabled = False
nocows = 1
result_format = yaml
check_mode_markers = true
any_errors_fatal = True
interpreter_python = auto_silent

[inventory]
enable_plugins = yaml, ini, auto

[ssh_connection]
pipelining = True
